rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function signedIn() {
    	return request.auth.uid != null;
    }
    match /{path=**}/meals/{meal} {
    	allow read: if request.auth.uid == resource.data.userId || resource.data.published == true;
    }
  	match /users/{user} {
    	allow read, create: if signedIn();
      allow update, delete: if request.auth.uid == user;
      match /meals/{meal} {
        allow write: if request.auth != null
        	&& request.auth.uid == user;
        match /ingredients/{ingredient} {
          allow read, write: if signedIn();
        }
      }
    }
    match /foods/{food} {
      allow read, write: if signedIn();
    }
  }
}
