rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /meals/{meal} {
      match /ingredients/{ingredient} {
        allow read, write, create: if request.auth != null;
      }
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
    }
    match /foods/{food} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
    }
  }
}
